* {
    margin: 0;
}


@font-face {
    font-family: 'happy_cowbold';
    src: url('../fonts/happycow-webfont.woff2') format('woff2'),
         url('../fonts/happycow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'happy_cowbold';

}

body {
    background-color: #3c3c3c;
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
} 

button {
    background-color:#eeeee4;
    display: inline-block;
    padding: 1.5vh 2.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    border-radius: 12px;
    margin: 10px;
    border:none;
    cursor: pointer;

}

button:hover {
    filter: drop-shadow(2px 2px grey);
  }
  
#headerCountValue {
    width:15vw;
}

#headerContainer {
    display: flex;
    width: 100vw;
    height: 8vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3c3c3c;
}

header {
    display: flex;
    height: 8vh;
    width: 97vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: #eeeee4;

}

#navContainer {
    display: flex;
    height: 10vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    background-color:#eeeee4;
    
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#top {
    height:12vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
}

#center {
    display: flex;
    flex-direction: column;
    margin-left:5vw;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

#quoteButton {
    border: none;
}

#content {
    display: grid;
    grid-gap:2vw;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    color:#34090F;
}

.oddJobObject {
    width: 20vw;
    height: 20vw;
    background-color:#eeeee4;     
}

#aboutContainer {
    margin:top;
    display: flex;
    flex-direction: row;
    width:100vw;
    justify-content:center;
    align-items: center;
    font-size:20;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeee4;; 
}

.createJobForm {
    position:absolute;
    top:50vh;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.8);
    z-index:-1;
    opacity:0;
    padding: 80px 100px;
    overflow: hidden;
    box-sizing: border-box;
    transition: top 500ms ease-in-out, opacity 500ms ease-in-out, height 0ms ease-in-out 500ms;

}

.createJobForm .closeButton {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

.createJobForm h1 {
    font-size: 32px;
    color: #fff;
}

.createJobForm p {
    font-size:16px;
    color:#eee;
    margin: -15px 0px 30px;
}

.createJobForm .createJobFormElement {
    margin: 20px 0px;
}
.createJobForm label {
    display: block;
    font-size: 17px;
    color:#eee;
    margin-bottom:5px;
}

.createJobForm input {
    width:100%;
    padding: 6px;
    font-size:17px;
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    border: 2px solid #eee;
    outline: none;
    border-radius: 10px;
}

.createJobForm button {
    padding: 0;
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    margin-top:10px;
    width: 100px;
    height: 35px;
    font-size: 15px;
    text-transform: uppercase;
    background: #fff;
    color: #222;
    border: none;
    outline: none;
}

body.activeForm .createJobForm {
    z-index: 2;
    opacity: 1;
    top: 0px;
    height: 100vh;
    transition: top 500ms ease-in-out, opacity 500ms ease-in-out, height 0ms ease-in-out 0ms;
}

