* {
    margin: 0;
}


body {
    background-color: #D0E0CC;
    font-family: "Lucida Console", "Courier New", monospace;

} 

button {
    background-color:#D0E0CC;
    display: inline-block;
    color: #34090F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}





#headerCountValue {
    width:15vw;
}

#headerContainer {
    display: flex;
    width: 100vw;
    height: 8vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #69A2B0;
}

header {
    display: flex;
    height: 8vh;
    width: 90vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}

#navContainer {
    display: flex;
    height: 10vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    background-color:#8d7795;
    
}

#nav {
    display: flex;
    width: 30vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#top {
    height:12vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#center {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
}

#quoteButton {
    border: none;
}

#content {
    display: grid;
    grid-gap:1vw;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
    color:#34090F;
}

#aboutContainer {
    display: flex;
    flex-direction: row;
    width:100vw;
    justify-content:center;
    align-items: center;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#34090F;

      
    
}

.oddJobObject {
    width: 10vw;
    height: 10vw;
    background-color:#69A2B0;     
}

