* {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
}


#headerCountValue {
    width:15vw;
}

header {
    padding-left: 1vw;
    display: flex;
    height: 8vh;
    width: 100vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #24252A;
    color: whitesmoke;
}

#nav {
    display: flex;
    height: 10vh;
    width: 100vw;
    flex-direction: row;
    align-items: center;
}

#top {
    height:12vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#quoteContent {
    margin-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10vh;
}

#quoteButton {
    border: none;
}

#content {
    display: grid;
    grid-gap:1vw;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
}

.oddJobObject {
    width: 10vw;
    height: 10vw;
    background-color: red;     
}